# 在这里的文件需要特定人员的批准

# 对于任何操作都必须由代码所有者审查批准
.github/** @DuckDuckStudio

# 对于以下内容，需要代码所有者 *仔细* 审查
LICENSE @DuckDuckStudio
CONTRIBUTING.md @DuckDuckStudio
ico.ico @DuckDuckStudio

# 对于以下内容，需要Duck Studio中的人员审查
AutoPack/** @DuckDuckStudio @Luna-Grace
.gitignore @DuckDuckStudio @Luna-Grace @fjwxzde
中文git.exe @DuckDuckStudio @Luna-Grace @fjwxzde
中文git更新程序.exe @DuckDuckStudio @Luna-Grace @fjwxzde

# 对于以下内容，需要代码所有者审查，但不一定需要 *仔细*
docs/** @DuckDuckStudio @Luna-Grace
